**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/.env
**/.env.*
**/.local-backups
**/__pycache__
**/*.pyc
**/*.log
**/TestResults
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/*.db
**/*.db-shm
**/*.db-wal
**/*.db-journal
**/*.sqlite
**/*.sqlite-shm
**/*.sqlite-wal
**/*.sqlite-journal
**/*.sqlite3
**/*.sqlite3-shm
**/*.sqlite3-wal
**/*.sqlite3-journal
